

.list-name {
    text-align: center;
    font-size: 30px;
}


.task {
    border-top: solid 1px gray; 
    border-bottom: solid 1px gray; 
    display: flex;
    line-height: 60px;
    height: 60px;
    /* margin-right: 20px; */
    /* ★ */
}

.task-button{
    padding-left: 25px;
    width: 250px;
}

.text{
    width: 80%;
}

.task p {
    margin: 0%;
    text-align: center;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.task-bg:hover .checkbox {
    background-color: gray ;
}
.task-bg:hover .delete-button {
    background-color: gray ;
}
.task-bg:hover .detail-button {
    background-color: gray ;
}
.task-bg:hover  {
    background-color: gray ;
}

.task:hover .delete-button {
    display: block;
}
.task:hover .detail-button {
    display: block;
}

.checkbox {
    border-style: none;
    background-color: white;
}

.star {
}

.checkbox-icon{
    margin-top: 15px;
}

.type {
    width: 5%;
    display: inline-block;
}

.name {
    width: 82%;
    display: inline-block;
}

.detail {
    width: 5%;
    display: inline-block;
}


.date {
    width: 8%;
    margin-left: auto!important;
    display: inline-block;
}

.show-task-detail-box{
    position: fixed;
    border-style: groove;
    margin-top: -111px;
    height: 137px;
    width: 315px;
    right: 26%;
    display: inline-block;
    background-color: white;
}


.detail-button{
    display: none;
    border-style: none;
    background-color: white;
}

.delete-button {
    display: none;
    border-style: none;
    background-color: white;
}

.task-checkbox-icon:hover {
    display: none;
}
.task-checkbox-icon:hover ~ .hover-task-checkbox-icon {
    display: block;
}
.hover-task-checkbox-icon {
    display: none;
}
.star-icon:hover {
    display: none;
}
.star-icon:hover ~ .hover-star-icon {
    display: block;
}
.hover-star-icon {
    display: none;
}
.cancel-icon:hover {
    display: none;
}
.cancel-icon:hover ~ .hover-cancel-icon {
    display: block;
}
.hover-cancel-icon {
    display: none;
}
.task-type-icon:hover {
    display: none;
}
.task-type-icon:hover ~ .hover-task-type-icon {
    display: block;
    border-radius: 50%;
    background-color: black;
    color: gray;
}
.hover-task-type-icon {
    display: none;
}