.main-body {
    margin: 122px 0 0 68px;
}

.opening p{
    font-size: 50px;
    padding: 10px;
    margin: 0%;
    display: inline;
}

.datee {
    display: inline;
}

/* .more {
    border-style: none;
} */

.more-day{
    border-style: none;
    background-color: white;
}

.time-bar {
    z-index: 999;
    border-style: groove;   
    top: 100px;
    width: 200px;
    justify-content: center;
    background-color: #85C1E9;  
}

.time-bar button {
    z-index: 999;
    background-color: #85C1E9;  
    border-style: none;
    width: 200px;
    height: 50px;
}
.time-button:hover {
    background-color: grey;
}

