.main-body {
    margin: 122px 0 0 68px;
}

.opening p{
    font-size: 50px;
    padding: 10px;
    margin: 0%;
    display: inline;
}

.opening-task {   
    border-top: solid 1px gray; 
    border-bottom: solid 1px gray; 
    display: flex;
    line-height: 60px;
    height: 100px;
    align-items: center;
    justify-content: center;

    /* margin-right: 20px; */
    /* ★ */
}


/* .datee {
    display: inline;
} */

/* .more {
    border-style: none;
} */

.more-day{
    border-style: none;
    background-color: white;
}

.time-bar {
    position: fixed;
    left: 525px;
    z-index: 999;
    border-style: groove;   
    top: 140px;
    width: 200px;
    justify-content: center;
    background-color: #85C1E9;  
}

.time-bar button {
    z-index: 999;
    background-color: #85C1E9;  
    border-style: none;
    width: 200px;
    height: 50px;
}
.time-button:hover {
    background-color: grey;
}

.disabled{
    cursor: no-drop;
}


/* anti */
.start-button {
    border-radius: 14px;
    background-color: #2874A6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
  }
  
  .start-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .start-button span:after {
    content: '\26DB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10px;
    transition: 0.5s;
  }
  
  .start-button:hover span {
    padding-right: 35px;
  }
  
  .start-button:hover span:after {
    opacity: 1;
    right: 0;
  }